<style>* {
    font-family: "Poppins", sans-serif;
    color: rgb(85, 83, 83);
}

body {
    background-image: url("/static/img/image.jpg");
    background-size: cover;
}

.card-title {
    color: rgb(85, 83, 83);
}


.row {
    height: 100vh;
}

.button {
    background-color: #0c6c82ff;
    border: #0c6c82ff;
}

button.btn:hover {
    background-color: #0c6c82ff;
}

button.btn:focus,
button.btn:active {
    box-shadow: none !important;
    background-color: #0c6c82ff !important;
}


.btn:active,
.btn:focus {
    outline: none;
    box-shadow: none;
}



/* Muestra el logo solo en pantallas grandes */
@media (min-width: 501px) {
    .mi-svg {
        display: inline !important;
    }
}

</style>